/* Hungarian */

.converter-container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }
  
  .title {
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
    background: linear-gradient(90deg, #12b5de 12%, #7130c3 40%, #ff3bd4 80%);
    text-transform: capitalize;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .input-text {
    width: 100%;
    height: 500px;
    max-height: 500px;
    padding: 10px;
    font-size: 16px;
    border: 3px solid #6c37c5;
    border-radius: 9px;
    margin-bottom: 20px;
    box-sizing: border-box;
    resize: none;
    /* background: #0f1021; */
    color: #f1f1f1;
    background: linear-gradient(#0f1021a8, #0f1021a6), url(/img/space.webp);
    background-size: cover;
    margin-top: 20px;
    overflow-y: scroll;
    box-shadow: 0 0 5px 2px #bd36cc;
  }
  
  .convert-button {
    display: block;
    width: 20%;
    padding: 10px;
    font-size: 18px;
    color: #f1f1f1;
    /* background: linear-gradient(90deg, #12b5de 12%, #7130c3 40%, #ff3bd4 80%); */
    background: linear-gradient(90deg, #ffc400 17%, #7130c3 50%, #ff3bd4 99%);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-blend-mode: color;
    transition: 0.5s background-color;
  }

  .convert-button:hover {
    /* background: linear-gradient(90deg, #ff3bd4 30%, #7130c3 60%, #12b5de 90%); */
    background: linear-gradient(90deg, #ff3bd4 2%, #7130c3 49%, #ffc400 87%);
  }
  

  .subtitle {
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
    background: linear-gradient(90deg, #12b5de 12%, #7130c3 40%, #ff3bd4 80%);
    text-transform: capitalize;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .output-html {
    width: 100%;
    color: #f1f1f1;
    padding: 10px;
    border: 3px solid #6c37c5;
    border-radius: 9px;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(#0f1021a8, #0f1021a6), url(/img/space.webp);
    text-align: start;
    height: 500px;
    max-height: 500px;
    overflow-y: scroll;
    box-shadow: 0 0 5px 2px #bd36cc;
  }
  

  .instructions li {
    justify-content: flex-start;
    color: #f1f1f1;
    background: linear-gradient(90deg, #12b5de 12%, #7130c3 40%, #ff3bd4 80%);
  }

  .instructions strong {
    color:#000;
    margin: 0px 10px;
  }
  .instructions ul {
    width: 50%;
  }

  .pb-5 {
    padding-bottom: 100px;
  }

  .container {
    background-color: #070710;
  }

  .container p {
    color:#f1f1f1;
  }

  .grid {
    display: flex;
    justify-content: center;
  }

  .row {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
  }

  .grid-text-1 {
    grid-column: 1;
  }

  
  .grid-text-2 {
    grid-column: 2;
  }


/* Customize the scrollbar */
.input-text::-webkit-scrollbar,
.output-html::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  border-radius: 10px; /* Rounded corners */
}

.input-text::-webkit-scrollbar-thumb,
.output-html::-webkit-scrollbar-thumb {
  background: #31006d; /* Color of the scroll thumb */
  border-radius: 10px; /* Rounded corners */
}

.input-text::-webkit-scrollbar-thumb:hover,
.output-html::-webkit-scrollbar-thumb:hover {
  background: #2e0041; /* Color of the scroll thumb on hover */
}

.input-text::-webkit-scrollbar-track,
.output-html::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.input-text:focus-visible,
.output-html:focus-visible {
  outline: none;
}

.flex-row {
  display: flex;
}

.bg-2 {
  /* background: linear-gradient(90deg, #ff3bd4 30%, #7130c3 60%, #12b5de 90%); */
    background: linear-gradient(90deg, #ff3bd4 2%, #7130c3 49%, #ffc400 87%);
}

.bg-2:hover{
  background: linear-gradient(90deg, #ffc400 17%, #7130c3 50%, #ff3bd4 99%);
}

.warning {
  border: none;
  /* border-top: 2px solid #bd95ff;  */
  border-top: 2px solid #ffc400; 
  margin: 10px 0;
}

.color {
  color: #ffc400 !important;
  /* color: #bd95ff !important; */
  margin-bottom: -47px !important;
}

.color span {
  color:#f1f1f1 !important;
}

.htaccess,
.comms-rem,
.text-to-html {
  position: relative;
}

.comms-rem::after,
.htaccess::after,
.text-to-html::after {
  white-space: pre-line;
  position: absolute;
  left: 20px;
  top: 20px;
  line-height: 2;
  color:#757575;
}

.htaccess::after {
  content: "Example Output: \A /wp-content/zh-1 \A /store";
}

.comms-rem::after {
  content: "Example Output: \A let example = 20;";
}

.text-to-html::after {
  content: "Example Output: \A <h1>Random Heading</h1> \A <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, atque blanditiis.</p> \A <h2>Random h2 heading</h2>";
}

.hide-after::after {
  content: ""; /* Removes the content of ::after */
}